@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./themes.css";

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
  overflow: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: normal;
}

::selection {
  background: rgb(var(--fg));
  color: rgb(var(--bg));
}

a:focus-visible,
button:focus-visible {
  box-shadow: 0 0 0 4px rgb(var(--fg));
}

a:focus,
button:focus {
  outline: none;
}

input {
  cursor: text;
  outline: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.no-select::selection {
  background: transparent;
  color: transparent;
}

.yes-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}

.hover-thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hover-thin-scroll:hover {
  scrollbar-color: auto;
}

.hover-thin-scroll::-webkit-scrollbar {
  display: hidden;
  width: 3px;
}

.hover-thin-scroll:hover::-webkit-scrollbar {
  display: block;
}

.hidden-scrollbar {
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0);
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.scroll-bar {
  scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.scroll-bar:hover {
  scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
}

.scroll-bar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* The grabbable scrollbar button  */
.scroll-bar:hover::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 30px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 30px;
  cursor: pointer;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0);
}

/* The vertical scrollbar background */
.scroll-bar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

@keyframes bounce {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Toast */
@keyframes toast-enter {
  0% {
    transform: translateX(100%);
    /* max-height: 0; */
    grid-template-rows: 0fr;
  }
  75% {
    transform: translateX(-10%);
    max-height: 100px;
    grid-template-rows: 1fr;
  }
  100% {
    transform: translateX(0);
    max-height: 100px;
    grid-template-rows: 1fr;
  }
}

@keyframes toast-time-progress {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(0%);
  }
}
