:root {
  /* --primary: 168, 85, 247; */
  /* --primary-hover: 147, 51, 234; */
  /* --primary-active: 122, 26, 209; */
  /* --primary-fg: 255, 255, 255; */
  --menu: var(--primary);
  --menu-fg: var(--primary-fg);
  --menu-hover: var(--secondary);
  --menu-active: var(--secondary-active);

  --warning: 253, 182, 34;
  --warning-hover: 254, 207, 112;
  --warning-active: 251, 170, 2;
  --warning-fg: 0, 0, 0;
  --success: 132, 204, 22;
  --success-hover: 101, 163, 13;
  --success-active: 77, 124, 15;
  --success-fg: 255, 255, 255;
  --danger: 255, 51, 51;
  --danger-hover: 219, 15, 15;
  --danger-active: 193, 13, 13;
  --danger-fg: 255, 255, 255;
}

[data-theme="dark"] {
  --primary: 9, 95, 219;
  --primary-hover: 33, 119, 243;
  --primary-active: 66, 152, 255;
  --primary-fg: 255, 255, 255;
  --secondary: 40, 40, 40;
  --secondary-hover: 60, 60, 60;
  --secondary-active: 80, 80, 80;
  --secondary-fg: 255, 255, 255;
  --secondary2: 12, 12, 12;
  --secondary2-hover: 8, 8, 8;
  --secondary2-active: 0, 0, 0;
  --secondary2-fg: 220, 220, 220;

  --fg: 255, 255, 255;
  --fg-secondary: 200, 200, 200;
  --fg-tertiary: 150, 150, 150;
  --bg: 18, 18, 18;
  --bg-modal: var(--bg);
  --bg-sidebar: var(--bg-secondary);
  --bg-secondary: 11, 11, 11;
  --bg-tertiary: 34, 34, 34;

  --tooltip: 0, 0, 0;
  --tooltip-fg: 255, 255, 255;
  --link: 58, 149, 255;
  --input: var(--bg-secondary);
  --input-focus: 0, 0, 0;

  --border: 50, 50, 50;
  --border-hover: 80, 80, 80;
  --border-active: 120, 120, 120;
  --border-focus: 255, 255, 255;
}

[data-theme="light"] {
  --primary: 0, 0, 0;
  --primary-hover: 30, 30, 30;
  --primary-active: 80, 80, 80;
  --primary-fg: 255, 255, 255;
  --secondary: 229, 231, 235;
  --secondary-hover: 207, 209, 213;
  --secondary-active: 180, 182, 186;
  --secondary-fg: 0, 0, 0;

  --fg: 0, 0, 0;
  --fg-secondary: 94, 96, 98;
  --fg-tertiary: 150, 152, 154;
  --bg: 255, 255, 255;
  --bg-modal: 255, 255, 255;
  --bg-secondary: 231, 233, 235;
  --bg-tertiary: 213, 215, 217;

  --tooltip: 0, 0, 0;
  --tooltip-fg: 255, 255, 255;
  --link: 18, 109, 248;
  --input: var(--bg);
  --input-focus: var(--bg);

  --border: 229, 231, 235;
  --border-hover: 209, 213, 219;
  --border-active: 0, 0, 0;
  --border-focus: 0, 0, 0;
}
